---
import ArticleOfText from "../layouts/ArticleOfText.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Handcrafted Warez">
    <ArticleOfText>
        <Fragment slot="title">Handcrafted Warez</Fragment>
        <img slot="photo" src="/index.jpg" alt="my-wall" />
        <p slot="body">This site contains digital things created by me</p>
    </ArticleOfText>
</Layout>
