---
import ArticleOfText from "../layouts/ArticleOfText.astro";
import Layout from "../layouts/Layout.astro"
import path from "path";
import { galleryList } from "../galleries";
---

<Layout title="M31U - Photography">
    <ArticleOfText>
        <Fragment slot="title">Photo Galleries</Fragment>

        <div slot="body" id="galleryList">
            { galleryList.map(gallery => {
                return <a href={path.join('/photo_galleries', gallery)}>{gallery.split("_").join(" ")}</a>
            })}
        </div>
    </ArticleOfText>
</Layout>