<article class:list={["bg-[#010101]", "m-6", "p-6", "rounded-md", "space-y-2"]}>
    <h1 class:list={["text-2xl"]}>
        <slot name="title" />
    </h1>
    <div class:list={[]}>
        <slot name="photo" />
    </div>
    <slot name="body" />
</article>
